.icon {
    fill: rgb(71, 71, 255);
    color: rgb(71, 71, 255);
    background: #f4f7ff;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    max-width: 25%;
}
.icon:hover {
    background-color: rgb(71, 71, 255);
    fill: #fff;
    color: #fff;
    box-shadow: 0px 10px 20px rgba(71, 71, 255, 0.39);
}
.sideBar button {
    margin: 40px 9px;
}
.sideBar {
    margin: 0 auto;
    padding: 0;
    width: 100px;
    background-color: #fff;
    position: fixed;
    border-radius: 0px 0px 50px;
    height: 90%;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(223, 231, 255, 0.85);
}
@media only screen and (max-width: 600px) {
    .sideBar {
        display: flex;
        align-items: center;
        bottom: 0;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        height: 100px;
    }
}